@tailwind base;
@tailwind components;
@tailwind utilities;

.register {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 0.56rem;
    padding: 0 1rem;
}
.navOs {
    text-transform: capitalize;
    font-size: 1.3rem;
    position: relative;
    max-width: max-content;
    border-radius: 0.8rem;
    color: rgb(16, 238, 16);
}
.navO {
    color: #25265eb3;
    position: relative;
    max-width: max-content;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.25);
}

.navO::before,
.navOs::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    @apply bg-green-600;
    transition: 400ms;
}

.navO:hover::before,
.navOs:hover::before {
    border: none;
    width: 100%;
}
/* nav bar scroll behaviour */
header {
    transition: background-color 0.9s ease, height 0.9s ease, 0.9s ease;
}

header.scrolled {
    background: #d5eaff;

    transition: background-color 0.9s ease, height 0.9s ease, 0.9s ease;
}

body {
    -webkit-font-smoothing: antialiased;
    color: #25265e;
    font-family: "euclid_circular_a", "Arial", "Source Sans Pro",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}
.text_family {
    font-family: "euclid_circular_a", "Arial", "Source Sans Pro",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: aqua;
}
p {
    color: rgba(37, 38, 94, 0.7);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 3rem;
    padding: 1rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0);
}
p.border {
    border-top: 4px solid rgb(168, 177, 168);
    border-bottom: 4px solid rgb(169, 180, 169);
    border-radius: 0.8rem;
}
.about-us p.border {
    border-top: 4px solid rgb(168, 177, 168);
    border-bottom: 4px solid rgb(169, 180, 169);
    border-radius: 0.8rem;
    color: chartreuse;
    padding-left: 1rem;
    padding-right: 1rem;
}
.username {
    border-radius: 0.8rem;
    border-bottom: 2px solid green;
    border-top: 2px solid green;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "euclid_circular_a", "Arial", "Source Sans Pro",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    color: #25265e;
}
.pre {
    scrollbar-width: thin;
    padding: 16px;
    border-radius: 9px;
    border: 1px solid #8da3bb;
    margin-bottom: 3rem;
    overflow: auto;
    background-color: azure;
    font-size: 18px;
    line-height: 20px;
    color: #0f0f0f;
}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 44px;
}

h2 {
    font-size: 3px;
    line-height: 42px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
/* Initial hamburger icon setup */
.toggleMenu {
    font-size: 3rem;
    display: none;
    cursor: pointer;
}

@media (max-width: 880px) {
    .toggleMenu {
        display: block;
        margin: 0 1rem;
    }
    header {
        z-index: 1000;
    }
    nav {
        z-index: 1000;
    }
    .register-container,
    .register-container p {
        width: 100%;
    }
    .register-container .link_element {
        font-size: 1.6rem;
        padding: 1.5rem 3rem;
    }

    .navbar {
        background: #262726;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;
    }
    .navbar a:first-child {
        padding-top: 1rem;
    }
    .navbar a:last-child {
        padding-bottom: 1rem;
    }
    .navbar a {
        color: #fff;
    }

    .registered {
        background: #262726;
        color: #fff;
        gap: 2rem;
        overflow: hidden;
        position: absolute;
        top: 29.2rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        max-height: 0;
        transition: max-height 0.4s ease;
    }
    .register {
        border-top: 4px solid orangered;
        border-bottom: 4px solid orangered;
    }

    p.username {
        display: none;
    }
    p.border,
    p {
        border: none;
        align-items: center;
        margin-left: -4rem;
        margin-right: 0rem;
        font-size: 1.8rem;
        padding-left: 4rem;
        color: #d5eaff;
    }

    .text_family {
        background-color: rgb(37, 35, 32);
        color: #fff;
        padding: -3px 53px;
        margin-left: 5rem;
    }
    .pre {
        margin-left: -3rem;
        margin-right: -3rem;
        font-size: 1.3rem;
    }
    .container {
        text-align: center;
    }
}
.navbar.open,
.registered.open {
    max-height: fit-content;
    transition: max-height 0.3s ease-in-out;
}
