@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: rgba(37, 38, 94, 0.7);
}
/* a {
    position: relative;
    max-width: max-content;
}
a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    @apply bg-orange-600;
    transition: 2s;
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    @apply bg-orange-600;
    transition: 2s;
}

a:hover::before,
a:hover::after {
    width: 100%;
} */

/* nav bar scroll behaviour */
/* nav {
   
    @apply bg-slate-200 transition-all duration-300 ease-in-out;
}

nav.scrolled {
    @apply bg-green-700 text-slate-200;
    z-index: 100;
    transition: background-color 3s ease, height 3s ease, padding 3s ease;
} */
body {
    -webkit-font-smoothing: antialiased;
    color: #25265e;
    font-family: "euclid_circular_a", "Arial", "Source Sans Pro",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 24px;
}
ol li {
    text-decoration: none;
}
.text_family {
    font-family: "euclid_circular_a", "Arial", "Source Sans Pro",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
p {
    color: rgba(37, 38, 94, 0.7);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 3rem;

    padding: 1rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0);
}
p.border {
    border-top: 4px solid rgb(168, 177, 168);
    border-bottom: 4px solid rgb(169, 180, 169);
    border-radius: 0.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "euclid_circular_a", "Arial", "Source Sans Pro",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    color: #25265e;
}
.pre {
    scrollbar-width: thin;
    padding: 16px;
    border-radius: 9px;
    border: 1px solid #8da3bb;

    margin-bottom: 3rem;
    overflow: auto;
    background-color: azure;
    font-size: 18px;
    line-height: 20px;
    color: #0f0f0f;
}
h1 {
    font-size: 3rem;

    margin-bottom: 20px;
    font-size: 40px;
    line-height: 44px;
}

h2 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 12px;
}
