@tailwind base;
@tailwind components;
@tailwind utilities;

/* a {
    position: relative;
    max-width: max-content;
}
a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    @apply bg-orange-600;
    transition: 2s;
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    @apply bg-orange-600;
    transition: 2s;
}

a:hover::before,
a:hover::after {
    width: 100%;
} */

/* nav bar scroll behaviour */
/* nav {
   
    @apply bg-slate-200 transition-all duration-300 ease-in-out;
}

nav.scrolled {
    @apply bg-green-700 text-slate-200;
    z-index: 100;
    transition: background-color 3s ease, height 3s ease, padding 3s ease;
} */
